/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.img-tile {
  margin: 0px auto;
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
  display: block;
  width: 215px;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  /*border: 1px solid #000;
  border-width: 1px 0;*/
  /*background: #666;*/
}

.header{
    position: relative;
    height: 100%;
    min-height: 530px;
    padding-top: 25px;
    padding-bottom: 100px;
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 100%;
    background-image: url(https://source.unsplash.com/category/technology/1600x900)
}

.background-overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.6) 100%);
    background: rgba(0,0,0, 0.85);
}

.header .content{
  position: relative;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 3;
}

.content .icon{
  font-size:60px;
}
.content .icon.npm-icon{
  font-size:100px;
  position: relative;
  top: 10px;
}

.profiles{
  margin-top:20px;
}

.icon-link{
  cursor: pointer;
}

.profiles .icon-link{
  padding: 0 15px;
}
.profiles .icon-link:link,
.profiles .icon-link:hover,
.profiles .icon-link:active,
.profiles .icon-link{
  color:white;
  text-decoration:none;
  outline:0;
}

a.icon-link.cv-link {
    font-weight: bold;
    font-size: 34px;
    position: relative;
    top: 5px;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    max-width: 100px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    opacity: .6;
    z-index: 3;

}

.arrow .icon{
  color:#fff;
  font-size:70px;
}

.body{
  /*min-height:800px;*/
  padding:20px 15px;
}

.body-content{
  margin:0 auto;
  width: 80%;
}
