---
import InfoCard from './InfoCard.astro';
---

<InfoCard title="About Me">
  <div>
    Layton is a full stack Software Developer with a background in Agile
    Software Development. Core competencies include user experience and
    server-side software development as well as excellent communication and time
    management skills. Please see my profiles for more information and projects
    I have contributed to.
  </div>
</InfoCard>
